<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Dev Skills</title>
</head>
<body>

    <h1>Here are my skills</h1>
    <ul>
      <% skills.forEach(function(skill, idx) { %>
        <li>
          <form action="/skills/<%= idx %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= idx %>"><%= skill.text %></a>
            - 
          <%= skill.done ? 'Done' : 'Not done' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>